<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header> 
            <h1>Imágenes</h1>
        </header> 
        <aside>
            <h1>Mis Autos</h1>
            <p>Los autos que en mi subconsiente llevo todos los dias..</p>
        </aside>
        <section> 
            <h2>Lunes</h2>
            <img src="/image/lunes.jpg" width="300" alt=""/>
            <h2>Martes</h2>
            <img src="https://www.univision.com/_next/image?url=https%3A%2F%2Fst1.uvnimg.com%2Fd4%2F4a%2F006304a74db4902c0b4d8d8026c8%2Fchevrolet-corvette-c8-stingray-2020-1280-08.jpg&w=550&q=75" 
                 width="300" alt=""/>
        </section>
        <footer>
            Todos los Derechos Reservados TechShop 2026 &COPY;
        </footer>
    </body>
</html>
